@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
    background: url('img/Campo2.png') no-repeat center center fixed;
    background-size: cover;
    background-color: #e2e2e2; /* Fallback color */
}

header {
    background-color: rgba(51, 51, 51, 0.8); /* Fondo semi-transparente */
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2em;
}

.social {
    display: block;
    margin-top: 10px;
    font-size: 1.2em;
}

nav {
    background-color: rgba(68, 68, 68, 0.8); /* Fondo semi-transparente */
    margin: 20px 0;
}

.menu-principal {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.menu-item {
    margin: 0 15px;
}

.menu-item a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    display: block;
    transition: background 0.3s, color 0.3s;
}

.menu-item a:hover {
    background-color: #555;
    color: #ffeb3b;
}

.menu-item a:active {
    background-color: #666;
    color: #fff;
}

main {
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    margin: 20px;
    border-radius: 10px;
}

main h2 {
    font-size: 1.5em;
}

main p {
    font-size: 1.2em;
}

.imagen-principal {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
