@import url("<link href=https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #f1c598, #e2e2e2);
    background-image: url(..\img\bg-web.png)
}

header {
    background-color: #333;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para el encabezado */
}

.social {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
}

nav {
    margin-top: 10px;
}

.menu-principal {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #444;
}

.menu-item {
    margin: 0 10px;
}

.menu-item a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    display: block;
    transition: background 0.3s, color 0.3s; /* Transiciones suaves */
}

.menu-item a:hover {
    background-color: #555; /* Fondo al pasar el ratón */
    color: #ffeb3b; /* Color de texto al pasar el ratón */
}

.menu-item a:active {
    background-color: #666; /* Fondo al hacer clic */
    color: #fff; /* Color de texto al hacer clic */
}