@import url("<link href=https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


form { 
    padding: 50px 20px; 
    background: linear-gradient( 
        50deg,
        rgb(5, 153, 190)0%,
        rgb(118, 188, 245) 50%,
        rgb(183, 213, 241) 100%
    );
    margin: calc(25% + 100px); 
    margin-top: 70px; padding-top: 28px; 
} 


    
h1{ 
    text-align: center; 
    padding: 12px; 
    color: #fcfcfc } 
    
input{ 
    width: calc(100% -20px); 
    padding: 9px; 
    margin: auto; 
    margin-top: 12px; 
    font-size: 16px; 
    text-align: center; } 
    

input[type='submit'] { 
    background-color: rgb(19, 52, 243); 
    color: #fff; 
    width: calc(80% - 20px); 
    margin: 0 10%; 
    margin-top: 22px; 
    border: none; } 

.ok{ 
    text-align: center;
    width: 100%; 
    padding: 12px; 
    background-color: rgb(37, 250, 118); 
    color: #fff; } 

.bad{ 
    text-align: center; 
    width: 100%; 
    padding: 12px; 
    background-color: #a22; 
    color: #fff; }

  
        select{
            padding: 15px 10px;
            background-color: #a683f8;
            border: 0;
            outline: none;
            border-radius: 25px;
            color: #F5FCFF;
            font-size: 16px;
        }
        
        input{
            padding: 20px 15px;
            background-color: #a683f8;
            border: 0;
            outline: none;
            border-radius: 25px;
            color: #F5FCFF;
            font-size: 16px;
        }
        